cryptography<3.4
pulpcore==3.14.3
pulp-file==1.8.1
pulp-container==2.7.1
pulp-deb==2.14.1
pulp-rpm==3.14.0
pulp-certguard==1.4.0
pulp-ansible==0.9.0
pulp-python==3.4.0
pulpcore-client==3.14.1
pulp-rpm-client==3.13.3
#galaxy-ng==4.3.1
