name: Generate full list of packages

on:
  workflow_dispatch:
  schedule:
    - cron: '4 4 * * 0,3'

env:
  GIT_AUTHOR_NAME: Foreman Packaging Automation
  GIT_AUTHOR_EMAIL: packaging@theforeman.org
  PULPCORE_REQUIREMENTS: automation/requirements.txt
  PULPCORE_FULL_REQUIREMENTS: pulpcore-requirements.txt

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: quay.io/centos/centos:stream9

    steps:
      - uses: actions/checkout@v4
        with:
          ref: rpm/develop

      - name: Install dnf-plugins-core
        run: dnf install 'dnf-command(config-manager)' -y && dnf config-manager --set-enabled crb

      - name: Install Required Packages
        run: dnf install -y gobject-introspection-devel cairo-devel gcc make cmake python3.11-devel python3.11-wheel python3.11-pip

      - name: Install Pulp using requirements.txt
        run: pip3.11 install -r $PULPCORE_REQUIREMENTS

      - name: Collect List of packages
        run: pip3.11 freeze | sed '/gobject/d; /scikit/d; /libcomps/d; /solv/d; /createrepo/d; /distro/d; /^ansible/d; /^jsonschema/d; /^pulp/d;' > $PULPCORE_FULL_REQUIREMENTS

      - name: 'Upload Artifact'
        uses: actions/upload-artifact@v4
        with:
          name: full-package-list.txt
          path: pulpcore-requirements.txt
          retention-days: 7
